{{#each books as |book|}}

  <div>
    <div class="book" data-id="{{book.id}}">
      <h3 class="book-title-style">{{book.title}}</h3>
      <h4 class="book-author-style">{{book.author}}</h4>
    </div>
  </div>

{{/each}}
